<section>
  <div class="container">
    <div class="card">
      <div class="card-header">
        Mailza Gomes
      </div>
      <img class="card-img-top" src="../../../assets/images/politicos/senadores/5557.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SENADOR(A) - PP - AC</h5>
        <p class="card-text">Avaliação do Site</p>
        <h4><p class="card-text"><span class="badge badge-success">Bom</span></p></h4>
        <p class="card-text">Avaliação do Público</p>
        <h4><p class="card-text"><span class="badge badge-danger">Péssimo</span></p></h4>
        <hr>
        <a href="#" class="btn btn-outline-info">Detalhes</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        AJ Albuquerque
      </div>
      <img class="card-img-top" src="../../../assets/images/politicos/deputados/204549.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">DEP. FEDERAL - PP - CE</h5>
        <p class="card-text">Avaliação do Site</p>
        <h4><p class="card-text"><span class="badge badge-warning">Ruim</span></p></h4>
        <p class="card-text">Avaliação do Público</p>
        <h4><p class="card-text"><span class="badge badge-danger">Péssimo</span></p></h4>
        <hr>
        <a href="#" class="btn btn-outline-info">Detalhes</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Mailza Gomes
      </div>
      <img class="card-img-top" src="../../../assets/images/politicos/senadores/5557.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SENADOR(A) - PP - AC</h5>
        <p class="card-text">Avaliação do Site</p>
        <h4><p class="card-text"><span class="badge badge-success">Bom</span></p></h4>
        <p class="card-text">Avaliação do Público</p>
        <h4><p class="card-text"><span class="badge badge-danger">Péssimo</span></p></h4>
        <hr>
        <a href="#" class="btn btn-outline-info">Detalhes</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        AJ Albuquerque
      </div>
      <img class="card-img-top" src="../../../assets/images/politicos/deputados/204549.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">DEP. FEDERAL - PP - CE</h5>
        <p class="card-text">Avaliação do Site</p>
        <h4><p class="card-text"><span class="badge badge-warning">Ruim</span></p></h4>
        <p class="card-text">Avaliação do Público</p>
        <h4><p class="card-text"><span class="badge badge-danger">Péssimo</span></p></h4>
        <hr>
        <a href="#" class="btn btn-outline-info">Detalhes</a>
      </div>
    </div>
  </div>
</section>
