<section>
  <div class="Container">
    <app-title [titleName]="'Login'"></app-title>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Email">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Email">
              <i class="material-icons md-24 colordefault">email</i>
            </span>
          </div>
          <input type="email" class="form-control" formControlName="email" id="Email" placeholder="Digite o seu Email">
        </div>
        <!-- <small class="error">*Erro: Necessário o preenchimento do email.</small> -->
      </div>
      <div class="form-group">
        <label for="Senha">Senha</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Senha">
              <i class="material-icons md-24 colordefault">lock</i>
            </span>
          </div>
          <input type="password" class="form-control" formControlName="senha" id="Senha" placeholder="Digite sua Senha">
        </div>
      </div>
      <div class="botoes">
        <button type="button" class="btn btn-success btn-lg">Enviar</button>
        <button type="button" class="btn btn-info btn-lg" [routerLink]="['/create-account']">Novo Cadastro</button>
        <button type="button" class="btn btn-outline-primary btn-lg">Esqueci a Senha</button>
      </div>
    </form>
  </div>

</section>
