header {
  background-color: #E4E4E4;
  border-bottom: solid 3px #F8C500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 200px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
  margin-top: 12px;
  margin-right: 20px;
}

header nav ul li {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul app-perfil {
  margin-left: 20px;
  width: 20rem;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 24px;
  transition: all 250ms linear 0s;
  font-weight: bold;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.5)
}

header nav ul li a.active {
  background: rgba(248, 197, 0, 0.5)
}

@media (max-width: 990px) {

  header nav ul li a {
    font-size: 1.2rem;
    padding: 12px;
    padding-top: 26px;
  }

  header img {
    width: 150px;
  }

}

/* @media (max-width: 768px) {

  header nav ul li a {
    padding: 10px;
  }

  header img {
    width: 170px;
  }

}

@media (max-width: 610px) {

  header nav ul li a {
    font-size: 1.1rem;
    padding: 10px;
  }

} */

@media (max-width: 770px) {

  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: rgb(160, 160, 160);
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #F8C500;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 1px;
    top: 22px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1.8rem;
    line-height: 3rem;
    display: block;
  }

}



