<section>
  <div class="card">
    <div>
      <img class="img-card" src="{{ imageUrl }}" alt="Image">
      <div *ngIf="show" class="suit">
        <div class="strip {{ colorRate }}"></div>
        <div class="text-rate {{ colorText }}">{{ rateName }}</div>
      </div>
    </div>
    <div class="card-body">
      <p class="name-political">{{ namePolitical }}</p>
      <p class="position">{{ positionPolitical }} - {{ partyPolitical }} - {{ statePolitical }}</p>
      <p class="card-text">Avaliação do Público</p>
      <span class="rate">{{ publicRateText }}</span>
    </div>
  </div>
</section>
