<section>
  <div class="cards">
    <div class="card">
      <div class="card-header {{ backgroundRate }} {{ textColorRate }}">
        <span>{{ textRate }}</span>
      </div>
      <img class="card-img-top" src="{{ imageUrl }}" alt="Card image cap">
      <div class="card-body">
        <p class="name-political">{{ namePolitical }}</p>
        <p class="position">{{ positionPolitical }}</p>
        <p class="card-text">Avaliação do Público</p>
        <span class="badge badge-danger">{{ textRateUsers }}</span>
        <hr>
        <a href="#" class="btn btn-outline-info">Detalhes</a>
      </div>
    </div>
  </div>
</section>
