section {
  font-size: 1.6rem;
  color: rgb(73, 73, 73);
  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(240, 240, 240);
  padding: 10px;
  display: flex;
  justify-content: center;
}

label {
  float: left;
  font-weight: bold;
  color: #999;
}

form {
  width: 960px;
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
}

.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

.input-group-text {
  background-color: #f8c500 !important;
}

.form-control {
  height: 33px;
  width: 200px;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .form-control {
    width: 190px;
  }
}

@media (max-width:992px){
  .form-control {
    width: 200px;
  }
}

@media (max-width: 374px) {
  .botoes {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  button {
    margin-bottom: 10px;
  }

  .form-control {
    max-width: 200px;
  }

  .form-group {
    margin-left: 40px;
  }
}
