<section>
  <div class="cards">
    <div class="card">
      <div>
        <img class="card-img-top" src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador5557.jpg" alt="Card image cap">
        <div class="listra"></div>
        <div class="text-rate">PÉSSIMO</div>
      </div>
      <div class="card-body">
        <p class="name-political">Mailza Gomes</p>
        <p class="position">SENADOR(A) - PP - AC</p>
        <p class="card-text">Avaliação do Público</p>
        <span class="badge badge-danger">Péssimo</span>
      </div>
    </div>
    <div class="card">
      <div>
        <img class="card-img-top" src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador5666.jpg" alt="Card image cap">
        <div class="listra2"></div>
        <div class="text-rate2">BOM</div>
      </div>
      <div class="card-body">
        <p class="name-political">Major Olimpio</p>
        <p class="position">SENADOR(A) - PSL - SP</p>
        <p class="card-text">Avaliação do Público</p>
        <span class="badge badge-info">Normal</span>
      </div>
    </div>
    <div class="card">
      <div>
        <img class="card-img-top" src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador5376.jpg" alt="Card image cap">
        <div class="listra3"></div>
        <div class="text-rate3">EXCELENTE</div>
      </div>
      <div class="card-body">
        <p class="name-political">Mara Gabrilli</p>
        <p class="position">SENADOR(A) - PSDB - SP</p>
        <p class="card-text">Avaliação do Público</p>
        <span class="badge badge-primary">Bom</span>
      </div>
    </div>
    <div class="card">
      <div>
        <img class="card-img-top" src="http://www.senado.leg.br/senadores/img/fotos-oficiais/senador742.jpg" alt="Card image cap">
        <div class="listra4"></div>
        <div class="text-rate4">RUIM</div>
      </div>
      <div class="card-body">
        <p class="name-political">Marcelo Castro</p>
        <p class="position">SENADOR(A) - MDB - PI</p>
        <p class="card-text">Avaliação do Público</p>
        <span class="badge badge-secondary">Normal</span>
      </div>
    </div>
  </div>
</section>
