/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%; /* Cada 1rem = 10px */
}

html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* .error {
  color: rgb(196, 4, 4);
  font-weight: bold;
  font-size: 1.1rem;
} */

.Container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Items of forms */

.form-group {
  margin-bottom: 20px;
}

.input-group-text {
  background-color: #f8c500 !important;
}

.form-control {
  height: 40px;
  max-width: 400px;
  color: rgb(128, 128, 128) !important;
  font-size: 1.4rem;
}

::placeholder {
  color: rgb(196, 196, 196) !important;
  font-size: 1.4rem;
}

label {
  float: left;
  font-weight: bold;
  color: #999;
}

button.close {
  font-size: 20px;
}

.alert-danger {
  font-size: 14px;
}
