<!-- <div class="containerLogin">
  <div class="card text-center">
    <div class="card-header">
      <ul ngbNav #nav="ngbNav" class="nav nav-tabs card-header-tabs">
        <li ngbNavItem>
          <a ngbNavLink (click)="MostrarConteudo(1)">LOGIN</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink (click)="MostrarConteudo(2)">NOVO CADASTRO</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div *ngIf="conteudo == 1; then login else novo"></div>
      <ng-template #login>
        <app-login></app-login>
      </ng-template>
      <ng-template #novo>
        <app-novo-cadastro></app-novo-cadastro>
      </ng-template>
    </div>
  </div>

  <div [ngbNavOutlet]="nav"></div>

</div> -->
<main>
  <section>
    <div class='container'>
      <div>
        <h2>
          Porque votar melhor?
        </h2>
        <p>No momento do voto, você está escolhendo as pessoas que irão administrar ou criar leis, funções que definirão
          o dia a dia do nosso país. Uma escolha reiteradamente ruim impacta pelo menos 4 anos na vida de cada um. Por
          isso esse site tenta contribuir para que seja possível eleger as melhores pessoas.</p>
        <div class="buttons">
          <button type="button" class="btn btn-outline-warning btn-lg">Proposta do Site</button>
          <button class="btn btn-outline-success btn-lg">Participe</button>
        </div>
      </div>
      <img src="../../../assets/images/urna.svg" />
    </div>
  </section>
</main>
<app-rel-avaliados></app-rel-avaliados>
