
section {
  font-size: 1.6rem;
  color: rgb(73, 73, 73);
  padding-top: 50px;
}

h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  margin-bottom: 30px;
}

section .container {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
}

section .container .buttons {
  display: inline-flex;
  justify-content: space-between;
  width: 200px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .container img {
    order: -1;
    margin-bottom: 30px;
  }
}
