<section>
  <div>
    <h2>
      Por que votar melhor?
    </h2>
    <p>No momento do voto, você está escolhendo as pessoas que irão administrar ou criar leis, funções que definirão
      o dia a dia do nosso país. Uma escolha reiteradamente ruim impacta pelo menos 4 anos na vida de cada um. Por
      isso esse site tenta contribuir para que seja possível eleger as melhores pessoas.</p>
    <div class="buttons">
      <button type="button" class="btn btn-outline-warning btn-lg">Propósito do Site</button>
      <button class="btn btn-outline-success btn-lg">Participe</button>
    </div>
  </div>
  <img src="../../../assets/images/urna.svg" />
</section>
